  body{
    background-color: #D8E3E7;
    /*background-color: #51C4D3;*/
  }
    .d3Card{
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      border-radius: 10px;
      padding: 20px;
    }

    .d3Card-Full{
      height: 100vh;
    }

    .d3Card-col{
      margin: auto; 
      text-align: center;
    }

    .d3Card-textArea{
      background-color: white;
      /*background-color: #126E82;*/
      color: black;
    }
    .d3Card-item{
      height: 220px;
      width:  220px;
      /*background-color: #FEF5ED;*/
      /*background-color: #126E82;*/
      color: black;
    }

    @media screen and (min-width:  1550px){
      #coverPhoneImage {
        height: 300px;
        width: 300px;
      }
    }

    @media screen and (max-width:  1550px){
      #coverPhoneImage {
        height: 150px;
        width: 150px;
      }
    }
      #mobileScreen{
        visibility: visible;

      }
      #largeScreen{
        visibility: hidden;
        height: 0px;
      }
    }

    @media screen and (min-width: 1001px) {
      #mobileScreen{
        visibility: hidden;
      }
    }

    @media screen and (max-width: 600px) {
      #coverPhoneImage {
        visibility : hidden;
      }
    }